@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Roboto+Mono:wght@400;600;700&display=swap");

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  /* font-family: "Inter", sans-serif; */
  font-family: "Roboto Mono", monospace;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1a2832;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a6adb2;
}

/* Handle on Hover */
::-webkit-scrollbar-track:hover {
  background: #a6adb2;
}
